/************************************************
********* Desktop view (1024px and above) 
*************************************************/
/* About Us Page Specific Styles */
@media only screen and (min-width: 1024px) {
    .content-link {
        display: inline-block;
        transition: transform 0.2s ease;
    }

    .content-link:hover {
        transform: translateY(-2px);
    }

    .section-heading-left {
        margin-top: 0 !important;
        text-align: center;
        margin-bottom: 0.5rem !important;
        color: #ff4c00;
        font-weight: bold;
    }
}