<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
<title>Proscapes of Atlanta - Maintenance</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="/public/css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1811627-18']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>  
<table width="100%" height="226" background="/public/images/headerbg.jpg" style="background-image: image-set(url(/public/images/optimized/headerbg-1000.avif) type('image/avif'), url(/public/images/optimized/headerbg-1000.webp) type('image/webp'), url(/public/images/headerbg.jpg) type('image/jpeg')); background-size: cover; background-position: center;" cellpadding="0" cellspacing="0">
<tr>
<td>
<table width="788" height="226" align="center" cellpadding="0" cellspacing="0">
<tr>
          <td width="788" height="226" background="/public/images/header.jpg" style="background-image: image-set(url(/public/images/optimized/header-788.avif) type('image/avif'), url(/public/images/optimized/header-788.webp) type('image/webp'), url(/public/images/header.jpg) type('image/jpeg')); background-size: cover; background-position: center;"><div style="padding: 200px 0px 0px 0px;">
              <div align="center"><a href="/">Home</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/view/maintenance/maintenance.htmll">Maintenance</a> 
                &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/view/install/index.html">Install</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/view/irrigation/irrigation.html">Irrigation</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/view/billing/payment.html">Payment</a> 
                &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/view/contact_us/index.html">Contact</a></div>






            </div></td>
</tr>
</table>
</td>
</tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td>
<table width="788" align="center" cellpadding="0" cellspacing="0">
        <tr> 
          <td style="padding-left:25px; padding-top:10px; padding-bottom:10px; padding-right:20px;"><div><span style="font-family:'arial',arial; font-size:20px; color:#FFFFFF;">Maintenance</span> 
              <p><picture>
                <source type="image/avif" srcset="/public/images/optimized/m1-260.avif 260w, /public/images/optimized/m1-520.avif 520w" sizes="260px" />
                <source type="image/webp" srcset="/public/images/optimized/m1-260.webp 260w, /public/images/optimized/m1-520.webp 520w" sizes="260px" />
                <img src="/public/images/m1.jpg" width="260" height="200" hspace="8" align="right" alt="Landscape Maintenance Services" loading="lazy" decoding="async" />
              </picture>Our 
                maintenance division is the backbone of ProScapes of Atlanta. 
                We pride ourselves on having the highest quality maintenance and 
                maintaining a low cost to our clients. ProScapes keeps your cost 
                low by using the finest equipment and staying effecient. Our goal 
                is to protect your landscape investment with professional service 
                and industry best practices. We are a full service maintenance 
                company. Some services include: Mowing, edging, blowing, pruning, 
                shrub and turf care. </p>
              <p>At ProScapes of Atlanta we have a comprehensive turf care program. 
                It was designed by some of the leading turf care specialists in 
                the state. We customize each program for your type of turf. </p>
              <p>Contact us at <a href="mailto:Proscapesofatl.kw@gmail.com" target="_blank">contact@ProScapesOfAtlanta.com</a> or call 404-514-6254 </p>
              <p>&nbsp; </p>
              </div></td>
        </tr>
      </table>
</td>
</tr>
</table>
<table width="100%" height="66" cellpadding="0" cellspacing="0" background="/public/images/footerbg.jpg" style="background-image: image-set(url(/public/images/optimized/footerbg-1000.avif) type('image/avif'), url(/public/images/optimized/footerbg-1000.webp) type('image/webp'), url(/public/images/footerbg.jpg) type('image/jpeg')); background-size: cover; background-position: center;">
<tr>
<td>
<table width="788" height="66" align="center" cellpadding="0" cellspacing="0" background="/public/images/footer.jpg" style="background-image: image-set(url(/public/images/optimized/footer-788.avif) type('image/avif'), url(/public/images/optimized/footer-788.webp) type('image/webp'), url(/public/images/footer.jpg) type('image/jpeg')); background-size: cover; background-position: center;">
<tr>
          <td><div class="footer" align="center" style=" padding: 15px 0px;"><strong>Proscapes 
          of Atlanta &copy; 2011</strong></div></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>






