<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ProScapes of Atlanta</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style2.css" />
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1811627-18']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="container">
<div id="site-header"></div>
<script src="/public/components/header.js"></script>

<div class="clear"></div>

<div class="container_12">
  <div class="grid_3">&nbsp;</div>
    
  <div class="grid_9" id="content_box">
    <div id="content">
      >
      <p style="text-align:left;font-weight:bold;font-size:1.2em;margin-bottom:5px;">Detention Pond Inspection</p>
      <p style="text-align:left;">EPA trained professional will assess and suggest solutions for any problems that may be occurring on your property.</p>  
      
        </div>
      </div>
    </div>
  </div>
</div> <!-- END container12 -->

<div id="site-footer"></div>
<script src="/public/components/footer.js"></script>

</div> <!-- END container -->

<script>

function validateForm(event) {
  const email = document.getElementById('email2').value;
  const message = document.getElementById('message').value;
  
  if (!email || !message.trim()) {
    alert('Email and Message are required fields.');
    event.preventDefault();
    return false;
  }
  return true;
}
</script>

</body>
</html>
